.register-btn {
    margin-right: 10px;
}
.form-box {
    margin: 0px auto;
}
.username-label {
    margin-right: 15px;
}
.card-box {
    display: flex;
    justify-content: space-evenly;
}
.photo-card {
    margin-left: 20px;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.photo-content {
    justify-content: center;
}